.navbar{
    position: -webkit-sticky;
    position: sticky;
    top: -10px;
    display: flex;
    justify-content: space-between;
    background-color: black;

}

.navbar-brand{
    list-style: none;
    color: #B0CFDC;
    background-color: blueviolet;

}

.navbar-brand{
    margin-top: 15px;
    margin-left: 25px;
}

.nav-pills{
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
}

.nav-pills{
    list-style: none;
}

.nav-pills{
    display: flex;
    justify-content: space-between;
     width: 150px;

}

.nav-item-home{
    justify-content: space-between;
    /* margin-right: 10px; */
    
}

.nav-link-home{
    color: #B0CFDC;
}

.nav-link-about{
    color: #B0CFDC;
}

.nav-link-merch{
    color: #B0CFDC;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }