.navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;

}

.navbar-brand{
    list-style: none;
}

.navbar-brand{
    margin-left: 25px;
}

.nav-pills{
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
}

.nav-pills{
    list-style: none;
}

.nav-item-home{
    margin-right: 10px;
}